
@charset "UTF-8";
@import "http://fonts.googleapis.com/earlyaccess/nanumgothic.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: none;
}
a img {
    border: medium none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
input {
    outline: medium none;
}
html {
}
body {
    font-family: "Apple SD Gothic Neo","nanumgothic","Malgun Gothic",dotum,sans-serif;
    font-size: 16px;
    line-height: 1.125em;
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
}
40% {
    transform: translateY(-30px);
}
60% {
    transform: translateY(-15px);
}
}
@keyframes rotateIn {
0% {
    opacity: 0;
    transform: rotate(180deg);
    transform-origin: center center 0;
}
100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: center center 0;
}
}
@keyframes rotateInBox {
0% {
    opacity: 0;
    transform: rotate(-200deg);
    transform-origin: center center 0;
}
100% {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: center center 0;
}
}
@keyframes moveFromBottomFade {
0% {
    opacity: 0;
    transform: translateY(100%);
}
50% {
    opacity: 0.1;
}
100% {
    opacity: 0.83;
    transform: translateY(0%);
}
}
@keyframes scaleUp {
0% {
    opacity: 0;
    transform: scale(0.8);
}
}
@keyframes rotateIn {
0% {
    transform: rotate(0deg);
    transform-origin: center center 0;
}
100% {
    transform: rotate(135deg);
    transform-origin: center center 0;
}
}
@keyframes rotateReset {
100% {
    transform: rotate(0deg);
    transform-origin: center center 0;
}
}
@keyframes slideInDown {
0% {
    opacity: 0;
    transform: translateY(-10px);
}
100% {
    transform: translateY(0px);
}
}
@keyframes slideInUp {
0% {
    opacity: 0;
    transform: translateY(30px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
@keyframes fadeInLeftBig {
0% {
    opacity: 0;
    transform: translateX(-2000px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
html {
    height: 100%;
    margin: 0;
    position: relative;
}
body {
    height: 100%;
    margin: 0;
    min-width: 768px;
    position: relative;
}
.page {
    height: 100%;
    position: relative;
}
.block-header {
    position: relative;
}
.block-header.minimal .navigation .block-logo {
    bottom: -45px;
    left: 32px;
}
.block-header.minimal .navigation .block-has--account-cart {
    bottom: -45px;
    right: 32px;
}
.block-title {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}
.block-title .title {
    bottom: -90px;
    color: white;
    font-family: "Neo Sans W01";
    font-size: 1.2em;
    left: 50%;
    line-height: 1em;
    margin-left: -66.5px;
    position: absolute;
    transition: all 0.25s ease 0s;
}
.navigation {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navigation .block-logo {
    bottom: -90px;
    left: 70px;
    position: absolute;
    transition: all 0.25s ease 0s;
}
.navigation .block-logo .logo {
    color: white;
    display: block;
    font-family: "Neo Sans W01 Black";
    font-size: 1.2em;
    line-height: 100%;
    text-decoration: none;
}
.navigation .block-has--account-cart {
    bottom: -90px;
    display: block;
    position: absolute;
    right: 70px;
    transition: all 0.25s ease 0s;
    vertical-align: bottom;
}
.navigation .block-has--account-cart .block-account {
    display: inline-block;
}
.navigation .block-has--account-cart .block-account .account {
    color: white;
    display: inline-block;
    font-family: "Neo Sans W01";
    font-size: 1.2em;
    line-height: 0.9em;
    text-decoration: none;
    vertical-align: bottom;
}
.navigation .block-has--account-cart .block-cart {
    display: inline-block;
    margin: 0 0 0 16px;
}
.navigation .block-has--account-cart .block-cart .cart {
    content: " ";
    display: inline-block;
    font-size: 0;
    height: 21px;
    opacity: 1;
    vertical-align: bottom;
    width: 27.72px;
}
.navigation .block-has--account-cart .block-cart .cart.filled {
    opacity: 1;
}
.navigation .block-has--account-cart .block-cart .cart.no-svg {
    background: url("/PT/images/common/icon-cart.png") no-repeat scroll 0 bottom rgba(0, 0, 0, 0);
}
.navigation .block-has--account-cart .block-cart .count {
    background-color: #fff;
    color: #282828;
    display: inline-block;
    font-family: "Neo Sans W01";
    font-size: 0.8125em;
    line-height: 100%;
    margin: 0 0 0 6px;
    padding: 2px 10px 1px;
    text-decoration: none;
    vertical-align: bottom;
}
.contents {
    height: 100%;
    position: relative;
}
.contents .column {
    height: 30%;
    min-height: 582px;
}
.contents .column:first-child {
    height: 70%;
}
.contents .column:first-child .column-block .column--contents-share {
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.66) 0%, rgba(0, 0, 0, 0.86) 100%) repeat scroll 0 0 transparent;
}
.contents .column .column-block {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    margin-top: -1px;
    position: relative;
    width: 100%;
}
.contents .column .column-block .column-logo {
    display: table;
    height: 100%;
    line-height: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.contents .column .column-block .column-logo .block-logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.contents .column .column-block:hover .column--contents-share {
    display: table;
}
.contents .column .column-block .column--contents-share {
    animation-duration: 0.2s;
    animation-name: fadeIn;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.9) 0%, rgba(0, 0, 0, 0.86) 100%) repeat scroll 0 0 transparent;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}
.contents .column .column-block .column--contents-share .block-contents {
    display: table-cell;
    height: 528px;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
}
.contents .column .column-block .column--contents-share .block-contents .headline {
    color: white;
    font-family: "Apple SD Gothic Neo","nanumgothic","Malgun Gothic",dotum,sans-serif;
    font-size: 1em;
}
.contents .column .column-block .column--contents-share .block-contents .title {
    color: white;
    font-family: "Neo Sans W01 Bold";
    font-size: 4.375em;
    line-height: 1em;
    padding: 15px 0 76px;
}
.contents .column .column-block .column--contents-share .block-contents .title .title-link {
    color: white;
    font-family: "Neo Sans W01 Bold";
    font-size: 1em;
    text-decoration: none;
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn {
    border: 2px solid #fff;
    color: white;
    display: inline-block;
    font-family: "Neo Sans W01 Medium";
    font-size: 1.125em;
    margin: 0 14px;
    min-width: 258px;
    padding: 16px 0;
    position: relative;
    text-decoration: none;
    width: 12.9%;
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation {
    overflow: hidden;
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation:hover:after {
    background-color: rgba(255, 255, 255, 0.15);
    width: 200%;
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation:active:after {
    background-color: rgba(255, 255, 255, 0.35);
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation:after {
    background-color: rgba(255, 255, 255, 0.65);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.45s ease 0s;
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation.slide-left:hover:after, .contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation.slide-right:hover:after {
    transform: translateX(0%);
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation.slide-left:after {
    transform: translateX(100%);
}
.contents .column .column-block .column--contents-share .block-contents .block-btn .btn.btn-animation.slide-right:after {
    transform: translateX(-100%);
}
.contents .column .column-block .column--contents-share .block-share {
    display: table;
    height: 100%;
    position: absolute;
    right: 46px;
    top: 0;
    vertical-align: middle;
}
.contents .column .column-block .column--contents-share .block-share .list-share {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.contents .column .column-block .column--contents-share .block-share .list-share .item {
    background-color: pink;
    box-sizing: border-box;
    display: block;
    position: relative;
    text-align: center;
    transition: transform 0.1s ease-out 0s;
    width: 72px;
}
.contents .column .column-block .column--contents-share .block-share .list-share .item:hover {
    animation-duration: 0.6s;
    transform: scale(1.2);
}
.contents .column .column-block .column--contents-share .block-share .list-share .item .share {
    content: "";
    display: block;
    font-size: 0;
    height: 80px;
    width: 100%;
}
.contents .column .column-block .column--contents-share .block-share .list-share .item.facebook {
    background: url("/PT/images/common/icon-sns-facebook.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.contents .column .column-block .column--contents-share .block-share .list-share .item.twitter {
    background: url("/PT/images/common/icon-sns-twitter.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.contents .column .column-block .column--contents-share .block-share .list-share .item.pinterest {
    background: url("/PT/images/common/icon-sns-pinterest.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.contents .column .column-block .block-dday {
    box-sizing: border-box;
    margin: 74px auto 0;
    position: relative;
    width: 60%;
}
.contents .column .column-block .block-dday .dday-date {
    bottom: -30px;
    color: white;
    font-family: "Neo Sans W01 Medium";
    font-size: 0.825em;
    position: absolute;
}
.contents .column .column-block .block-dday .dday-date.start {
    left: 0;
}
.contents .column .column-block .block-dday .dday-date.end {
    color: rgba(255, 255, 255, 0.24);
    right: 0;
}
.contents .column .column-block .block-dday .dday {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
    content: "";
    height: 2px;
    position: relative;
}
.contents .column .column-block .block-dday .dday .remain {
    background: none repeat scroll 0 0 #da2810;
    box-sizing: border-box;
    color: white;
    display: none;
    font-family: "Neo Sans W01 Medium";
    font-size: 0.75em;
    left: 0;
    margin-left: -30px;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: -60px;
    width: 60px;
}
.contents .column .column-block .block-dday .dday .remain.remain-animation {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
}
.contents .column .column-block .block-dday .dday .remain:after {
    border-color: #da2810 transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    bottom: -6px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0;
}
.contents .column .column-block .block-dday .dday .remain.active {
    display: block;
}
@-moz-document url-prefix("") {
.page .contents .column .column-block .column--contents-share .block-share {
    position: relative;
    right: 60px;
}
}
